* {
  box-sizing: border-box;
}

.car_select_component {

  .preselect_element {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    .input_container {
      position: relative;
      .input_preselect {
        height: 40px;
        width: 100%;
        padding: 0px 50px 0px 10px;
      }
      .btn_open_select {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 100%;
        right: 0px;
        top: 0px;
        cursor: pointer;
        tab-index: 0;
        span {
          display: block;
          width: 12px;
          height: 12px;
          border-top: 6px solid black;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
          margin-top: 6px;
        }
        &:focus {
          outline: none;
        }
      }
      &:hover {
        .btn_open_select {
          display: flex;
        }
      }
    }

    .preselect_list_container {
      width: 100%;
      height: 0px;
      z-index: 50;
      ul.preselect_list {
        background-color: #fff;
        margin: 0px;
        padding: 0px;
        overflow-y: auto;
        width: inherit;
        height: auto;
        max-height: 150px;
        display: none;
        border: 1px solid grey;
        position: relative;
        &.open {
          display: block;
        }

        li.preselect_item {
          padding: 8px 10px;
          cursor: pointer;
          transition: color 0.1s ease;
          &.selected {
            background-color: blue;
          }
          &:hover {
            color: red;
          }
        }
      }
    }
  }

}